.full{
    width: 100%;
}

.home-container{
    width: 100%;
    height: 90vh;
    background-color: antiquewhite;
    /*background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../../images/banner.jpeg);
    background-size: cover;
    background-position: center;*/
}

.home-content{
    display: flex;
    padding: 20px;
    background-color: chocolate;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home-left{
    background-color: brown;
    flex-basis: 40%;
    margin-right: 40px;
}

.home-left h1{
    font-size: 70px;
    margin-top: 80px;
}

.home-left p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.home-right{
    flex-basis: 55%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.home-right img{
    max-width: 400px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 0;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    height: 100%;
}

/*------------second container------------*/

.second-container{
    background-color: #272D39;
    width: 100%;
    padding: 20px 20px 60px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.second-left-side{
    flex-basis: 45%;
    display: flex;
    padding: 5px;
    min-height: 540px;
    margin: auto;
}

.second-left-side img{
    margin-left: 10px;
    max-width: 260px;
}

.second-left-details{
    min-width: 280px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-left-details h3{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.second-left-details h1{
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 2.5px;
    border-bottom: 3px dashed #fff;
    color: #fff;
}

.second-left-details p{
    line-height: 30px;
    color: #fff;
    letter-spacing: 1.5px;
}

.second-left-details h4{
    color: lightskyblue;
    margin-top: 20px;
}

.second-left-details h2{
    margin-top: 20px;
    color: #fff;
    border-top: 3px dashed #fff;
    padding-top: 5px;
    font-size: 27px;
    cursor: pointer;
    text-align: right;
}

.second-right-side{
    display: flex;
    flex-basis: 45%;
    padding: 5px;
    min-height: 540px;
    margin: auto;
}

.second-right-side img{
    margin-left: 10px;
    max-width: 260px;
}

.second-right-details{
    min-width: 280px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-right-details h3{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.second-right-details h1{
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    border-bottom: 3px dashed #fff;
}

.second-right-details p{
    line-height: 30px;
    color: #fff;
    letter-spacing: 1.5px;
}

.second-right-details h4{
    color: lightskyblue;
    margin-top: 20px;
}

.second-right-details h2{
    margin-top: 20px;
    color: #fff;
    border-top: 3px dashed #fff;
    padding-top: 5px;
    font-size: 27px;
    cursor: pointer;
    text-align: right;
}

/*----------------third container--------------*/

.third-container{
    background-color: #DD3333;
    width: 100%;
    padding: 20px 20px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.third-container-left{
    flex-basis: 50%;
    padding: 10px;
}

.third-container-left h2{
    margin-top: 20px;
    color: #fff;
    border-top: 3px dashed #fff;
    padding-top: 5px;
    font-size: 27px;
    cursor: pointer;
    text-align: right;
}

.third-container-left h3{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.third-container-left h1{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    border-bottom: 3px dashed #fff;
}

.third-container-left p{
    line-height: 20px;
    color: #fff;
}

.third-container-right{
    flex-basis: 40%;
    padding: 10px;
}

.third-container-right img{
    width: 100%;
    object-fit: cover;
    display: block;
}

/*----------fourth-container-------------*/

.fourth-container{
    background-color: #0D3338;
    width: 100%;
    padding: 40px 20px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fourth-container-right{
    flex-basis: 50%;
    padding: 10px;
}

.fourth-container-right h3{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.fourth-container-right h1{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    border-bottom: 3px dashed #fff;
}

.fourth-container-right p{
    line-height: 20px;
    color: #fff;
}

.fourth-bottom input{
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    padding-left: 10px;
}

.fourth-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth{
    background-color: #708500;
    width: 200px;
    border: none;
    border-radius: 0;
}

.fourth-container-left{
    flex-basis: 40%;
    padding: 10px;
}

.fourth-container-left img{
    width: 100%;
    object-fit: cover;
    display: block;
}

/*---------------fifth container---------------*/

.fifth-container{
    background-color: #3f2c2c;
    width: 100%;
    padding: 40px 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.fifth-container-left{
    flex-basis: 50%;
    padding: 10px;
}

.fifth-container-left h2{
    margin-top: 20px;
    color: #fff;
    border-top: 3px dashed #fff;
    padding-top: 5px;
    font-size: 27px;
    cursor: pointer;
    text-align: right;
}

.fifth-container-left h3{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-transform: uppercase;
}

.fifth-container-left h1{
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #fff;
    border-bottom: 3px dashed #fff;
}

.fifth-container-left p{
    line-height: 20px;
    color: #fff;
}

.fifth-container-right{
    flex-basis: 40%;
    padding: 10px;
}

.fifth-container-right img{
    width: 100%;
    object-fit: cover;
    display: block;
}